body {
    background-color: var(--bs-body-color);
    padding-top: var(--navbar-height);
}
html {
    scroll-behavior: smooth;
  }
.m9tHBYjU {
    max-width: 576px;
    max-height: 1024px;
    min-width: 334px; 
    min-height: 600px;    
}
.dKaMJWba {
    background-color: azure;
    padding: 2px 3px;
    text-indent: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-align: justify;    
    font-size: 1.2em;
}

.wzE2MkgS {
    background-color: #f0ffff;
    padding: 2px 3px;
    text-indent: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-align: justify;    
    font-size: 1.2em;
}
